.width-100perc{
    width: 100%;
}

.width-20perc{
    width: 20%;
}

.h-30px{
    height: 3vh;
}

.text-inpu{
    border-left: 0;
    border-radius: 0px 10px 10px 0px;
}

.text-inpu-sim{
    border-right: 0;
    border-radius: 10px 0px 0px 10px;
    background-color: white;
}

.orange{
    color: orange;
}

.bg-c-blue{
    background-color: rgba(27,114,232,255);
}

.h-5vh{
    height: 5vh;
}

.h-95vh{
    height: 95vh;
}

.h-100perc{
    height: 100%;
}

.main-cont{
    width: 0%;
    flex-grow: 2;
    padding: 0;
}

.side-nav{
    background-image: url(../asset/img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-color: rgba(18,40,63,255);
}

a span:hover{
    border-bottom: 1px solid white;
}

.ns-form1{
    border-radius: 5px!important;
}

.ns-form2{
    border-radius: 5px!important;
    margin-left: 10px!important;

}

.marg-l-0{
    padding-left: 0;
}

.ns-form3{
    border-radius: 0px 5px 5px 0px;
}

.ns-simb{
    border-radius: 5px 0px 0px 5px;
    padding: 6px;
}

.inl{
    display: inline;
}

#bg-pl{
    background-color: rgba(19,89,185,255)!important;
}

#bg-app{
    background-color: rgba(19,89,185,255)!important;
}

#dropdown-bt{
    background-color: rgba(27,114,232,255)!important;
    border: 1px solid white;
}

.th1{
    width: 8%;
}

.th2{
    width: 3%;
}

.th3{
    width: 1%;
}

.th4{
    width: 1%;
}

.th5{
    text-align: center;
    width: 5%;
}
.circ{
    background-color: orangered;
    border-radius: 50%;
    padding: 3.5px;
    color: white;
}

.acc-bord{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.acc-bord2{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

@media only screen and (max-width: 990px) {

    .side-nav{
        width: 70px;
    }

    .offcanvas{
        width: 100%!important;
    }
}

@media only screen and (min-width: 990px) {

    .side-nav{
        width: 150px;
    }

    .offcanvas{
        width: 40%!important;
    }
}

@media only screen and (min-width: 576px) {

    #ns{
        order: 3;
        width: 20%;
    }

    #bo{
        order: 1;
    }

    #st{
        order: 2;
    }

}

@media only screen and (min-width: 769px) {

    #bg-app{
        display: inline-block!important;
    }

    #bg-pl{
        display: none;
    }

}

@media only screen and (max-width: 700px) {

    .thn{
        display: none!important;
    }

}

@media only screen and (max-width: 435px) {

    .thn{
        display: none!important;
    }

    .th1{
        width: 1%;
    }

    .th4{
        width: 1%;
    }

}
